{
  "presets": ["@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "context": "./source/react",
        "exclude": "node_modules",
        "webpackHotModuleReloading": true
      }
    ],
  ],
}
